@import "colors";

@mixin center-text {
    text-align: center;

    p {
        padding: 250px 0;
        width: 50%;
        margin: auto;
    }
}

//Global
* {
    color: $text-color;
    font-size: 1.2rem;
}

.container {
    background-color: $background-color;
    border: 1px solid #000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 50%;

    .left {
        background-color: $box-background-color1;
        height: 100%;
        width: 69%;
        position: relative;
        @include center-text;
    }

    .right {
        background-color: $box-background-color2;
        height: 100%;
        position: relative;
        width: 29%;
        @include center-text;

        .button {
            background-color: $button-color;
            color: gray;
            border: 0;
            border-radius: 10px;
            cursor: pointer;
            width: 7em;
            height: 2.5em;
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5em 2em;

            //this is to center content vertically
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -120%);
        }
    }

}